body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f0f8ff;
}

h1 {
    text-align: center;
    color: #006699;
}

label {
    display: inline-block;
    width: 150px;
    font-weight: bold;
    margin-bottom: 10px;
}

input, select {
    margin-bottom: 10px;
    padding: 5px;
    width: 200px;
}

button {
    padding: 10px 15px;
    margin: 10px 0;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #4CAF50;
    color: white;
}

/* Estilo para la tabla de resumen en el cierre de caja */
.summary-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.summary-table, .summary-table th, .summary-table td {
    border: 1px solid black;
}

.summary-table th, .summary-table td {
    padding: 10px;
    text-align: left;
}

.summary-table th {
    background-color: #4CAF50;
    color: white;
}

.section-title {
    margin-top: 20px;
    color: #333;
}
